output.log
*/__pycache__/*
*/__pycache__
*/*/__pycache__/
.DS_Store
btc_venv
venv/
__pycache__/
app/data_manager/__pycache__
.flake8
*.pyc
btc.log
myenv/
nohup.out
.env
docs
.claude
.trae
.idea
.specify
.vscode
.coverage
.DS_Store
